body
{
  font-size: 40pt;
  /*background-color:black;*/
}

.nav {
  background-color: black;
  padding: 10px;
  color: white;
  font-size:40pt;
  text-align:center;
  text-decoration:none;
}

.nav a {
  text-decoration:none;
  color:Yellow;
}

.nav a:hover {
 /* color:blue; */
 font-size:60pt;
}
