<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <link href="../JS/script.js"/>
</head>

<body>
    <img src="http://codecademy.com/assets/codecademy_logo_small.png" id="logo" />
    
    <ul id="nav_container">
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
    
    
    <h1 id="greeting"></h1>
    
    
    
    <div id="main_content">
        <div class="right_column">
            <img src="http://i1150.photobucket.com/albums/o605/slaundy/160x600ad.gif" />
        </div>
    
        <div class="left_column">
            <p>This is the left side of the page</p>
            <img src="" />
        </div>
    </div>
</body>